@font-face {
  font-family: 'Satoshi';
  src: url(Satoshi-Variable.ttf);
}

@font-face {
  font-family: 'Satoshit';
  src: url(Satoshi-VariableItalic.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Satoshi';
  color: #FAFAFA;
  background-color: #201C1C;
  background-image: url(Group\ 59.png);
  background-position: top;
  background-repeat: no-repeat;
  margin: 0;
  overflow-x: hidden;
  display: block;

}

nav {
  background-color: #201C1C;
  height: 8rem;
  width: 100%;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: center;

}

a {
  color: #FAFAFA;
  text-decoration: none;
}

.redirects {
  display: flex;
  flex-direction: row;
  margin-right: 5%;
  font-size: 1.2rem;
  cursor: pointer;
}

img {
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  height: 4rem;
}

nav li {
  display: flex;
  margin-inline: 1rem;

}

.section1 {
  position: relative;
  justify-self: center;
  align-self: start;
  width: 105rem;
  height: 55rem;
  margin: 0 auto;
  color: #FAFAFA;
  font-family: 'Satoshi';
  box-sizing: border-box;
}

.section1 h1,
.section1 p,
.section1 .button {
  color: #FAFAFA;

}

.section1 h1 {
  font-size: 4rem;
  box-sizing: border-box;
  width: 50rem;
  font-weight: 600;
  margin-top: 7%;
  margin-bottom: 1%;
}

.section1 p {

  width: 80%;
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 43rem;
  font-weight: 400;

}

.section1 .button {
  font-family: 'Satoshi';
  font-size: 1.3rem;
  background-color: #F21000;
  border: none;
  cursor: pointer;
  padding: 1rem 2.7rem;
  border-radius: 1.1rem;
  font-weight: 700;
  margin-top: 0.5%;
}

.section1 span {
  font-weight: 400;
}

.section2 {
  position: relative;
  justify-self: center;
  align-self: start;
  width: 105rem;
  height: 50rem;
  margin: 0 auto;
  color: #FAFAFA;
  font-family: 'Satoshi';
  box-sizing: border-box;
}

.section2 h1,
.section2 p {
  position: absolute;
  color: #FAFAFA;


}

.section2 h1 {
  font-size: 3.5rem;
  box-sizing: border-box;
  width: 50rem;
  font-weight: 600;
  margin-top: 8%;
}

.section2 p {
  width: 80%;
  font-size: 1.3rem;
  box-sizing: border-box;
  width: 43rem;
  font-weight: 400;
  margin-top: 18.5%;
}

.section2 span {
  font-weight: 400;
}

.section3 {
  position: relative;
  justify-self: center;
  align-self: start;
  max-width: 105rem;
  width: 90%;
  height: 55rem;
  margin: 0 auto;
  color: #FAFAFA;
  font-family: 'Satoshi';
  box-sizing: border-box;
}


.section3 h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  max-width: 70rem;
}

.section3 ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 70rem;
  width: 100%;
}

.section3 li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121111;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  width: 100%;
  box-sizing: border-box;
  outline: 0.2rem solid #352F2F;
}

.section3 span {
  font-weight: 400;
}

.info1,
.info2,
.info3,
.info4,
.info5,
.info6 {
  background-image: url(info.png);
  background-size: cover;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.section4 {
  position: relative;
  justify-self: center;
  align-self: start;
  max-width: 105rem;
  width: 90%;
  margin: 0 auto;
  color: #FAFAFA;
  font-family: 'Satoshi';
  box-sizing: border-box;
}

.section4 h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  max-width: 70rem;
}

.section4 span {
  font-weight: 400;
}

.section4 p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
  max-width: 110rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 1rem;
}

.img1,
.img2,
.img3,
.img4 {
  background-color: #121111;
  max-width: 105rem;
  width: 99%;
  height: 43rem;
  border-radius: 0.9rem;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}


.img1::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000015;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.img1:hover::after {
  background-color: #000000bd;
}


.img1 {
  position: relative;
  z-index: 2;
}

.img1,
.img2,
.img3,
.img4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.img1,
.img2,
.img3,
.img4:hover .title-case,
.desc-case,
button {
  opacity: 1;
}

.img1 {
  background-image: url('example.png');
  position: relative;
  z-index: 2;

}

.img2::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000015;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.img2:hover::after {
  background-color: #000000bd;
}


.img2 {
  position: relative;
  z-index: 2;
}

.img2 {
  background-image: url('example.png');
}

.img3::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000015;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.img3:hover::after {
  background-color: #000000bd;
}


.img3 {
  position: relative;
  z-index: 2;
}

.img3 {
  background-image: url('example.png');
}

.img4::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000015;
  transition: background-color 0.3s ease;
  z-index: 1;
}

.img4:hover::after {
  background-color: #000000bd;
}


.img4 {
  position: relative;
  z-index: 2;
}

.img4 {
  background-image: url('example.png');
}

.title-case {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  max-width: 70rem;
  z-index: 2;

}

.desc-case {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  max-width: 110rem;
  margin-top: -6%;
  z-index: 2;

}

.grid button {
  font-family: 'Satoshi';
  font-size: 1.1rem;
  background-color: #F21000;
  border: none;
  cursor: pointer;
  padding: 0.7rem 2.3rem;
  border-radius: 1.1rem;
  font-weight: 700;
  margin-top: -3%;
  color: #FAFAFA;
  z-index: 2;


}

.img1:hover .title-case,
.img1:hover .desc-case,
.img1:hover button,
.img2:hover .title-case,
.img2:hover .desc-case,
.img2:hover button,
.img3:hover .title-case,
.img3:hover .desc-case,
.img3:hover button,
.img4:hover .title-case,
.img4:hover .desc-case,
.img4:hover button {
  opacity: 1;
}

.img1 .title-case,
.img1 .desc-case,
.img1 button,
.img2 .title-case,
.img2 .desc-case,
.img2 button,
.img3 .title-case,
.img3 .desc-case,
.img3 button,
.img4 .title-case,
.img4 .desc-case,
.img4 button {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.section5 {
  position: relative;
  justify-self: center;
  align-self: start;
  max-width: 105rem;
  width: 80%;
  height: 70rem;
  margin: 0 auto;
  color: #FAFAFA;
  font-family: 'Satoshi';
  box-sizing: border-box;

}

.section5 h1 {
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 5rem;
  margin-top: 13rem;
  max-width: 70rem;
  display: flex;
  justify-self: center;
}

.grid-metodo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.6rem;
  margin: 0 auto;
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6 {
  background-color: #121111;
  max-width: 105rem;
  width: 100%;
  height: 23rem;
  border-radius: 0.9rem;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  box-sizing:border-box;
  padding:2rem;
  outline: 0.2rem solid #352F2F;
}

.title-step{
  font-size: 2.1rem;
  font-weight: 600;
  max-width: 70rem;
  display: flex;
  justify-self: center;
}

.desc-step{
  font-size: 1.4rem;
  font-weight: 400;
  max-width: 70rem;
  display: flex;
  justify-self: center;
  margin-top: 1rem;
}

